NET "clk_i" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET "reset_i" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;

NET "SW"	 LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "SW1" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "SW2" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
NET "SW3" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;

NET "rot_a" LOC = "K18" | IOSTANDARD = LVTTL | PULLUP ;
NET "rot_b" LOC = "G18" | IOSTANDARD = LVTTL | PULLUP ;
NET "rot_c" LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN ;

NET "red_o"   LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "green_o" LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "blue_o"  LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "hSync_o" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vSync_o" LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

NET "lcd_e"  LOC = "M18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "lcd_rs" LOC = "L18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "lcd_rw" LOC = "L17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;

# The LCD four-bit data interface is shared with the StrataFlash.
NET "SF_D8"  LOC = "R15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_D9"  LOC = "R16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_D10" LOC = "P17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_D11" LOC = "M15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;

